<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Exam | Question 1 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <form action="/question2">
            <p id='question1'>Q1) In Python, Which of the following is not a Tuple Type</p> <br>
            <input type="radio" id="1" name="answer1" value="1">
            <label for="1">()</label><br>

            <input type="radio" id="2" name="answer1" value="2">
            <label for="2">(77,)</label><br>

            <input type="radio" id="3" name="answer1" value="3">
            <label for="3">(88)</label><br>
            <!-- Option 3 is Correct Answer -->

            <input type="radio" id="4" name="answer1" value="4">
            <label for="4">10,20,'python',78</label><br><br>

            <input type="submit" name="" class="btn btn-primary" value="Save and Continue">
          </form>
      </div>
    </div>
  </body>
</html>
